.moldura_pokemon {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    
}

.card_pokemon {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 10px;
}

.cabecalho_card_busca {
    background-color: #ddd;
    border-radius: 10px 10px 0 0;
}

.imagem_pokemon {
   height: 39px;
}

.nome_pokemon {
    height: 30px;
    border-radius: 0 0 10px 10px;
}

.tira_padrao {
    margin-top: 0;
    margin-bottom: 0;
}

.normal {
    background-color: #9fa19f;
}

.fire {
    background-color: #e62829;
    color: #eee;
}

.fighting {
    background-color: #ff8000;
}

.water {
    background-color: #2980ef;
    color: #eee;
}

.flying{
    background-color: #81b9ef;
}

.grass{
    background-color: #3fa129;
    color: #eee;
}

.poison{
    background-color: #9141cb;
    color: #eee;
}

.electric{
    background-color: #fac000;
    color: #eee;
}

.ground{
    background-color: #a5810a;
}

.psychic{
    background-color: #ef4179;
    color: #eee;
}

.rock {
    background-color: #915121;
    color: #eee;
}

.ice{
    background-color: #3dcef3;
}

.bug{
    background-color: #91a119;
    color: #eee;
}

.dragon{
    background-color: #5060e1;
    color: #eee;
}

.ghost{
    background-color: #704170;
    color: #eee;
}

.dark{
    background-color: #624d4e;
    color: #eee;
}

.steel{
    background-color: #60a1b8;
}

.fairy{
    background-color: #ef70ef;
    color: #eee;
}